.Search {
  background-color: white;
  grid-column: 1/3;
  grid-row: 1/2;
}
.SearchBar {
    position: relative;
}
.SearchBar input {
    padding-left: 40px;
}
.SearchBar img {
    position: absolute;
    left: 0px;
    padding: 0 6px;
    pointer-events: none;
    top: 0;
}