.hidden {
  display: none
}
.banner {
  margin: 0 auto;
  height: 250px;
  text-align: center;
  font-size: 11px;
  background: url("https://png.pngtree.com/thumb_back/fw800/background/20190222/ourmid/pngtree-color-memphis-design-wind-cute-cartoon-banner-windmemphisdesignlovelycartoonyellowbluewireframebannermemphis-art-image_51370.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 250px;
  animation: fadeIn 2s;
}
.banner h1 {
  padding-top: 120px
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
